@model XCentium.Models.PageDataViewModel
@{
    ViewBag.Title = "PageData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Following is data from the page <strong><a href= @ViewBag.SiteAddress>@ViewBag.SiteAddress</a></strong></h2>
    </div>
    <div class="panel-body">
        
        <p><strong>Total no. of  words:</strong> @Model.SiteWordList.Count()</p>
        <p><strong>Page Load time:</strong> @Model.TimeElapsed milli Seconds</p>
        <p><strong>Memory Size:</strong> @Model.StreamBufferSize Bytes</p>
        <p><strong>Number of images:</strong> @Model.ImageAttributeList.Count()</p>
    </div>
</div>
<hr />
<h1 class="text-primary">Frequency of words</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Word</th>
            <th>Frequency</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var frequency in Model.FrequencyMap@*.Take(10)*@)
            {
            <tr>
                <td>@frequency.Key</td>
                <td>@frequency.Value</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h1 class="text-primary text-center">Image Gallery</h1>
<p class="text-center">Click on image to enlarge</p>
<div class="row image-gallery">
    <div class="col-md-12">
        @foreach (var attribute in Model.ImageAttributeList)
        {
            if (attribute.Name == "src" | attribute.Name =="style")
            {
                <figure class="col-md-4 site-images">
                    <a class="img-links" data-size="1600x1067" data-toggle="modal" data-target="#myModal">
                        <img alt="picture" src='@attribute.Value' @*class="img-fluid"*@>
                    </a>
                </figure>
            }

        } 

    </div>
</div>


<div style="margin: auto auto 50px auto;text-align: center;padding: 30px;">
    <a class="btn btn-primary btn-lg image-gallery-btn" id="loadMore">View more &raquo;</a>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".table").DataTable({ "order": [[1, "desc"]] });
                var imglength = $("figure").length;
                var inc = 0;
                if (imglength == 0) {
                    $(".image-gallery").html("No images were found on the page!");
                    $("#loadMore").css("display", "none");
                }


           
                if (imglength > 9) {
                    $("figure").slice(9, imglength).css("display", "none");
                    inc = 9;
                }
                if (imglength < 9) {
                    $("figure").slice(3, imglength).css("display", "none");
                    inc = 3;
                }

                $("#loadMore").click(function () {
                    if (inc > 4) {
                        $("figure").slice(inc, inc + 9).css("display", "block");
                        inc = inc + 9;
                    }
                    if (inc < 4) {
                        $("figure").slice(inc, inc + 3).css("display", "block");
                        inc = inc + 3;
                    }
                    if (inc > imglength)
                        $("#loadMore").css("display", "none");
                });

                $(".img-links").click(function () {
                    var clickedImg = $(this).find("img")[0].outerHTML;
                    $(".modal-body").html(clickedImg);
                });
            });

    </script>
}
